[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
ipython = "*"
flake8 = "*"
v = {editable = true,version = "*"}
pytest-cov = "*"

[packages]
fasttext = "*"
numpy = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest --cov=sister tests"
